.additional-items {
  text-align: center;

  padding-top: 26px;
  padding-bottom: 25px;
}

.additional-items__button {
  margin-bottom: 23px;

  padding: 0;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;

  border: none;

  color: @grey--darker;
}

.additional-items__show {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: @black--light;

  padding: 0;

  margin: 0;
  margin-bottom: 8px;
}

.additional-items__info {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: @special_dark-grey;

  padding: 0;

  margin: 0;
  margin-bottom: 21px;
}
