.common-form {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: @special_dark-grey;
}

.common-form__fieldset {
  border: none;

  padding: 0;
  /* .set-left-right-padding(); */

  margin: 0;

  /* @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  } */

  /* @media (min-width: @desktop-width) {
    .set-left-right-padding();
  } */
}

.common-form__wrapper {
  /* padding-left: 20px;
  padding-right: 20px; */

  /* .set-left-right-padding(); */

  position: relative;

  display: flex;
  align-items: center;
}

.common-form__input {
  box-sizing: border-box;

  height: 43px;

  margin-left: 14px;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  /* padding-right: 50px; */
  padding-right: 25px;

  color: @black;
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  /* min-width: 0;
  flex-grow: 1; */
  /* width: 100%; */
  width: 0;
  flex: 1 1 auto;

  border: 1px solid @grey--lighter;

  outline: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    height: 50px;
  }

  &::placeholder {
    color: @special_dark-grey;
    text-transform: uppercase;
    font-size: 16px;
    /* line-height: 18px; */

    opacity: 1;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border-color: @special_grey;
  }

  &:active,
  &:focus {
    border: 2px solid @special_dark-grey;

    padding-left: 14px;
    /* padding-right: 49px; */
    padding-right: 24px;

    & + .common-form__input-icon {
      fill: @basic_green;
    }
  }

  &:focus:invalid {
    border: 2px solid @status_error;

    & + .common-form__input-icon {
      fill: @status_error;
    }
  }
}

/* .common-form__input--email {
  position: relative;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 20px 14px;
  background-position: 95% 50%;
} */

.common-form__input-icon {
  position: absolute;

  width: 20px;
  height: 20px;

  top: 12px;
  right: 17px;
}

/* .common-form__input--tel {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 95% 50%;
} */

.common-form__label {
  width: max-content;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.common-form__label--radio {
  position: relative;

  padding: 0;
  padding-left: 45px;

  &::before {
    content: "";

    position: absolute;

    top: -3px;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid @special_grey;
    border-radius: 50%;

    background-color: @white;

    box-shadow: inset 0 0 0 8px @white;
  }

  .common-form__radio-check:checked + &::before {
    background-color: @basic_green;
  }

  &:hover::before {
    border-color: @white--dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.common-form__label--checkbox {
  position: relative;

  padding: 0;
  padding-left: 45px;

  &::before {
    content: "";

    position: absolute;

    top: -3px;
    left: 0;

    /* width: 30px;
    height: 30px; */
    width: 29px;
    height: 29px;

    border: 1px solid @special_grey;

    background-color: @white;
  }

  .common-form__radio-check:checked + &::after {
    content: "";

    position: absolute;

    top: 3px;
    left: 7px;

    width: 15px;
    height: 10px;

    border-left: 2px solid @basic_green;
    border-bottom: 2px solid @basic_green;

    transform: rotate(-45deg);
  }

  &:hover::before {
    border-color: @white--dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.common-form__title {
  /* max-width: 190px; */
  /* margin-top: 10px; */
}

.common-form__title--double {
  @media (max-width: @mobile-width-only) {
    width: 181px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
}

.common-form__fieldset--bordered {
  @media (max-width: @mobile-width-only) {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 7px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;

    border-top: 1px solid @gray--dark;
    border-bottom: 1px solid @gray--dark;
  }
}

.common-form__list {
  .clear-lists-style();

  /* padding-left: 20px;
  padding-right: 20px; */
  /*.set-left-right-padding(); */
  padding-top: 20px;

  /* border: 1px solid @gray--dark; */

  @media (max-width: @mobile-width-only) {
    border-left: none;
    border-right: none;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @gray--dark;

    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }
}

.common-form__list--extra {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 123px;
    grid-row-gap: 32px;

    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 104px;
  }
}

.common-form__item {
  /* margin-bottom: 19px; */
  margin-bottom: 25px;
}

.common-form__radio-check {
  display: none;
}

.common-form__textarea-wrapper {
  /* padding-left: 20px;
  padding-right: 20px; */

  /* .set-left-right-padding(); */

  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 0;
}

.common-form__textarea {
  box-sizing: border-box;

  height: 150px;

  padding-top: 13px;
  padding-bottom: 13px;
  /* padding-left: 11px; */
  padding-left: 13px;
  padding-right: 11px;

  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  outline: none;

  color: @black;

  border: 1px solid @grey--lighter;

  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    height: 174px;
  }

  &::placeholder {
    font-family: @default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    vertical-align: middle;

    text-transform: uppercase;

    color: @special_dark-grey;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border-color: @special_grey;
  }

  &:active,
  &:focus {
    border: 2px solid @special_dark-grey;

    padding-left: 10px;
    padding-top: 12px;

    & + .common-form__input-icon {
      fill: @basic_green;
    }
  }

  &:focus:invalid {
    border: 2px solid @status_error;
  }
}

.common-form__submit {
  display: flex;
  flex-direction: column;

  margin-top: 14px;

  /* .set-left-right-padding(); */

  @media (min-width: @tablet-width) {
    /* padding-left: 70px;
    padding-right: 70px; */
    margin-top: 0;

    flex-direction: row;
  }

  /* @media (min-width: @desktop-width) {
    .set-left-right-padding();
  } */
}

.common-form__button {
  font-size: 16px;
  line-height: 20px;

  padding-top: 10px;
  padding-bottom: 10px;

  border: none;

  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: 280px;

    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;

    margin-right: 80px;
  }
}

.common-form__star-info {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-transform: none;

  color: @black;

  align-self: center;

  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.common-form__main-info {
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    /* .set-left-right-padding(); */

    & .common-form__fieldset {
      padding: 0;

      width: 570px;
    }
  }
}

.common-form__flex-fieldset {
  & .common-form__wrapper:last-child {
    margin-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .common-form__wrapper {
      padding: 0;

      width: 570px;
    }
  }
}
