.common-form {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: @special_dark-grey;
}

.common-form__fieldset {
  padding-left: 20px;
  padding-right: 20px;

  border: none;
}

.common-form__fieldset--bordered {
  border-bottom: 1px solid @gray--dark;
}

.common-form__label {
  display: flex;
  justify-content: space-between;
}

.common-form__input {
  justify-self: stretch;
}
