.common-catalog-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  padding-top: 11px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    flex-direction: column;

    align-items: stretch;

    padding-top: 0;
    padding-bottom: 0;
  }
}

.common-catalog-item__info {
  display: flex;
  flex-direction: column;

  width: 120px;

  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    width: auto;

    font-size: 16px;
    line-height: 16px;

    margin-bottom: 33px;
  }
}

.common-catalog-item__title {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: @special_dark-grey-2;

  width: 77px;

  margin: 0;
  margin-bottom: 18px;

  padding: 0;

  @media (min-width: @tablet-width) {
    width: 150px;

    align-self: center;

    font-size: 20px;
    line-height: 24px;

    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 115px;

    font-size: 20px;
    line-height: 21px;
  }
}

.common-catalog-item__weight {
  display: flex;
  justify-content: space-between;

  padding: 0;

  margin: 0;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;

    margin-bottom: 5px;

    border-bottom: 1px solid @special_grey;
  }
}

.common-catalog-item__taste {
  display: flex;
  justify-content: space-between;

  padding: 0;

  margin: 0;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;

    margin-bottom: 5px;

    border-bottom: 1px solid @special_grey;
  }
}

.common-catalog-item__price {
  display: flex;
  justify-content: space-between;

  padding: 0;

  margin: 0;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;

    margin-bottom: 5px;

    border-bottom: 1px solid @special_grey;
  }
}

.common-catalog-item__caption {
  padding: 0;
  margin: 0;
}

.common-catalog-item__value {
  padding: 0;
  margin: 0;
}

.common-catalog-item__image {
  order: -1;

  /* width: 120px; */

  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: cover;

  @media (min-width: @tablet-width) {
    /* width: 168px; */

    align-self: center;

    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    /* width: 172px; */

    margin-bottom: 45px;
  }
}

.common-catalog-item__img {
  width: 140px;
  height: 144px;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
  }

  /* @media (min-width: @desktop-width) {
    width: 172px;
    height: 196px;
  } */
}

/* .common-catalog-item__image--small {
  & img {
    width: 140px;
    height: 144px;

    @media (min-width: @tablet-width) {
      width: 161px;
      height: 172px;
    }

    @media (min-width: @desktop-width) {
      width: 168px;
      height: 200px;
    }
  }
}

.common-catalog-item__image--big {
  & img {
    width: 140px;
    height: 144px;

    @media (min-width: @tablet-width) {
      width: 168px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      width: 172px;
      height: 196px;
    }
  }
} */

.common-catalog-item__link {
  width: 100%;

  margin-top: 13px;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.common-catalog-item__add {
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid @special_grey-2;
}
