.contacts {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: @special_dark-grey;
}

.contacts__wrapper {
  display: flex;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 22px;
}

.contacts__title {
  width: 50%;

  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: @black--light;

  margin: 0;
}

.contacts__location {
  width: 50%;

  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: @special_dark-grey;

  margin: 0;
}
