.description {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.description__title {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  margin: 0;
  margin-bottom: 38px;

  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
