.description {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;

  padding-left: 20px;
  padding-right: 20px;
}

.description__title {
  font-family: @deafult-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  margin: 0;
  margin-bottom: 38px;

  padding: 0;
}
