.extra-catalog-item {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: @special_dark-grey;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.extra-catalog-item__title {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;

  color: @special_dark-grey-2;

  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin: 0;
  }
}

.extra-catalog__description {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    /* min-width: 280px; */
    min-width: 295px;
  }
}

.extra-catalog-item__caption {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: @special_dark-grey;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;

    margin: 0;
  }
}

.extra-catalog-item__value {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: @special_dark-grey;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.extra-catalog-item__info {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    flex-grow: 1;
  }
}

.extra-catalog-item__link {
  font-size: 16px;

  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: @desktop-width) {
    /* margin-left: 40px; */
    margin-left: 35px;
    margin-right: 5px;

    padding-left: 90px;
    padding-right: 90px;
  }
}
