.goods-list {
  .clear-lists-style();

  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;

    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;

    padding-left: 110px;
    padding-right: 110px;
  }
}

.goods-list__item {
  padding-top: 8px;
  padding-bottom: 11px;

  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid @special_grey-2;

  @media (min-width: @tablet-width) {
    /* width: 324px; */
    box-sizing: border-box;

    padding-left: 38px;
    padding-right: 38px;
    padding-top: 160px;
    padding-bottom: 40px;

    margin-bottom: 140px;

    min-height: 430px;

    background-color: @basic_grey;
  }
}

.goods-list__item--add {
  @media (min-width: @tablet-width) {
    background-color: @white;

    border: 1px solid @special_grey-2;

    padding: 38px;
  }
}
