.goods-list {
  .clear-lists-style();

  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;

    /* .set-left-right-padding(); */
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;
  }
}

.goods-list__item {
  padding-top: 8px;
  /* padding-bottom: 11px; */
  padding-bottom: 10px;

  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid @special_grey-2;

  @media (min-width: @tablet-width) {
    /* width: 324px; */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 38px;
    padding-right: 38px;
    padding-top: 5px;
    padding-bottom: 40px;

    /* margin-bottom: 140px; */

    min-height: 510px;

    /* background-color: @basic_grey; */
    background: linear-gradient(transparent 20%, @basic_grey 20%);
  }
}

.goods-list__item--add {
  @media (min-width: @tablet-width) {
    justify-content: space-between;

    background: transparent;
    background-color: @white;

    /* border: 1px solid @special_grey-2; */

    padding-left: 0;
    padding-right: 0;

    /* padding-top: 80px; */
    padding-top: 105px;
    padding-bottom: 0;

    outline: none; /* врменно - пока есть обводка */
  }
}
