.main-goods {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
}

.main-goods__list {
  padding: 0;

  margin: 0;
}

.main-goods__wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;

  .set-left-right-padding();

  padding-top: 29px;

  @media (max-width: @mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }
}
