.page-footer {
  font-family: @alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: @special_dark-grey;

  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;

  text-align: center;

  background-color: @basic_grey;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
}

.page-footer__socials {
  border-top: 1px solid @gray--dark;
  border-bottom: 1px solid @gray--dark;

  display: flex;
  justify-content: center;
  align-content: center;
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}
