.page-header {
  background-color: @white;

  font-family: @default-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  border-bottom: 1px solid @gray--dark;
}
