.page-header {
  display: flex;
  flex-direction: column;

  background-color: @white;

  font-family: @default-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @gray--dark;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;

    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;

    height: 110px;
    max-width: 1330px;

    padding-left: 110px;
    padding-right: 0;
  }
}

.page-header--index {
  @media (min-width: @desktop-width) {
    justify-content: space-between;

    height: 696px;
    max-width: 1330px;

    padding-left: 110px;
    padding-right: 0;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right;
    background-repeat: no-repeat;
  }
}

.page-header__logo {
  display: flex;

  padding-left: 20px;

  height: 66px;

  @media (min-width: @tablet-width) {
    justify-content: center;

    height: 75px;
  }
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
