.programm {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
}

.programm__wrapper {
  box-sizing: border-box;

  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;

  .set-left-right-padding();

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    .set-left-right-padding();
  }
}

.programm__info {
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: @black;

  /* .set-left-right-padding(); */

  width: 245px;

  margin: 0;
  /* margin-bottom: 39px; */
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    /* padding-left: 70px;
    padding-right: 70px; */

    width: 345px;

    margin-top: 20px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 30px;
  }

  /* @media (min-width: @desktop-width) {
    .set-left-right-padding();
  } */
}

.programm__form-title {
  padding-left: 20px;
}
