.promo {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  font-family: @default-font;
  font-style: normal;
  font-weight: normal;

  /* .set-left-right-padding(); */

  /* margin-bottom: 23px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; */

  /* @media (min-width: @tablet-width) {
    padding-left: 103px;
    padding-right: 103px;

    align-items: flex-start;

    background-image: none;

    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
    padding-right: 190px;

    margin-bottom: 80px;

    min-height: 555px;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  } */
}

.promo-wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .set-left-right-padding();

  margin-bottom: 23px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-width: @tablet-width) {
    padding-left: 103px;
    padding-right: 103px;

    align-items: flex-start;

    background-image: none;

    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
    padding-right: 190px;

    margin-bottom: 80px;

    min-height: 555px;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}

.promo__header {
  box-sizing: border-box;

  position: relative;

  padding-top: 27px;

  margin-bottom: 29px;
}

.promo__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 25px;

  text-align: center;

  color: @white;

  @media (min-width: @tablet-width) {
    /* width: 60%; */
    width: 420px;

    font-size: 60px;
    line-height: 60px;

    color: @black;

    text-align: left;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;

  margin: 0;

  text-align: center;

  text-transform: uppercase;

  color: @white;

  @media (min-width: @tablet-width) {
    width: 285px;

    font-size: 20px;
    line-height: 20px;

    color: @black;

    text-align: left;
  }
}

.promo__image-container {
  /* text-align: center; */
  @media (min-width: @tablet-width) {
    order: 2;

    z-index: -1;

    align-self: center;

    margin-top: -45px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;

    margin-top: 0;
  }
}

.promo__find {
  align-self: stretch;

  @media (min-width: @tablet-width) {
    align-self: inherit;

    padding-left: 26px;
    padding-right: 26px;
  }
}
