.site-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-list__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 24px;

  border-top: 1px solid @line_grey;

  text-align: center;

  a {
    text-decoration: none;
    color: @basic_black;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}
